/* MapComponent.css */
.popup-content {
    display:inline-block;
    align-items: center;
    text-align: center;
  }
  

  .toll{

    width: 10px !important; /* Adjust the size as needed */
    height: 10px !important;
  }
  
  .popup-content .popup-text {
    font-size: 14px; /* Adjust font size as needed */
  }
  

  .mapboxgl-popup-content{
    background-color: transparent;

  }
  .popup-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
  }